# Assignment Day 6 | 14th July 2020

## 1. Assuming that we have some email addresses in the  "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

```
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

```

In [5]:
input_email = input('Enter you Mail Address: ')
company_domain = input_email.split('@')[1]
company_name = company_domain.split('.')[0]
print(company_name)

Enter you Mail Address: john@google.com
google

## 2. Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

```
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world
```

In [9]:
input_string = input('Enter Comma Seperated String: ')
word_list = input_string.split(',')
word_list.sort()
print(','.join(word_list))

Enter Comma Seperated String: without,hello,bag,world
bag,hello,without,world

## 3. Create your own Jupyter Notebook for Sets.
**Reference link: https://www.w3schools.com/python/python_sets.asp**

### Sets

Set in python is very similler to the mathematical sets in math i can't contain any duplicate value. Set is also unordered and unindex means.. you can not put the value in set you can't exepcted the same order like dict. and also its unindexed so you can't access with index. Lets see with example

- Propery of Sets
    * its unordered ( will not maintain the order )
    * its will not store duplicate values
    * its un-indexed ( can't access with index )
    * it is represented with { }

In [12]:
# Very first set
s = {4,5,6,7}
print(s)
print(type(s))

{4, 5, 6, 7}
<class 'set'>

In [25]:
# its unordered
s = {4 ,"a", 4556.3, "raju"}
print(s)

{4556.3, 4, 'a', 'raju'}

In [27]:
# it will not store duplicate
a = { 4, 5, 6, 2, 6, 7, 2, 7, 9, 5, 3, 2, 5, 7, 3}
print(a) # duplicate were removed

{2, 3, 4, 5, 6, 7, 9}

In [29]:
# it's un-indexed
b = { 'rahul', 4 , 6}
b[0]

TypeError: 'set' object is not subscriptable

### It can store only immutable object let's see

In [35]:
z = { 1, 2.44, 'world', True, (34,56)}
print(z)

{1, 2.44, (34, 56), 'world'}

### You can access element by ittrate over the set

In [43]:
for i in z:
    print(i,' ----------> ',type(i))

1  ---------->  <class 'int'>
2.44  ---------->  <class 'float'>
(34, 56)  ---------->  <class 'tuple'>
world  ---------->  <class 'str'>

### membership operator works with set()

In [50]:
print(1 in z)
print(4 in z)

True
False

### Lets discuss some function for set()

In [78]:
t = {2,4,6,7,8}
t

{2, 4, 6, 7, 8}

In [79]:
type(t)

set

In [85]:
# add method will add one elemnt to set
t.add(533)
t

{2, 4, 533, 6, 7, 8, 9, 'r'}

In [86]:
# update method will add multiple item to set
t.update(['r',6,7,9])
t

{2, 4, 533, 6, 7, 8, 9, 'r'}

In [87]:
# lenth of set is very similler to other python ittrable
len(t)

8

In [88]:
# remove method will help us to remove any item from sets 
t.remove(533)
t

{2, 4, 6, 7, 8, 9, 'r'}

In [89]:
# remove method will will raise error if item not exit
t.remvoe(4556)

AttributeError: 'set' object has no attribute 'remvoe'

In [90]:
# There is a alternative to stop this error is discard this method will remove if element is present otherwise
# will not give any if item is not present is the set
t.discard(4556)

In [94]:
# clear will remvoe all element from set
print(t)
t.clear()
t

set()

set()

#### Set also have union and intersection function that will work similler to the math intersection and union

In [98]:
a = {4,5,6}
b = {3,6,7,8,9}
a.union(b) # duplicate element gonna remove
a

{4, 5, 6}

In [99]:
b.union(a)   # very similler to math Union

{3, 4, 5, 6, 7, 8, 9}

In [100]:
a.intersection(b) # very similler to math intersection

{6}

In [101]:
b.intersection(a) # very similler to math intersection

{6}

## 4. Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
```

Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input
```

In [139]:
def get_missing(input_list):
    missing_number = []
    for i in range(1,int(input_list[-1])):
        if str(i) not in input_list:
            missing_number.append(str(i))
    return missing_number

In [141]:
input_list = input('Enter the number 1 to n: (seperated by ,) ').split(' ')
missing_numers = get_missing(input_list) 

if len(missing_numers) == 0:
    print('No missing Nubmers')
elif len(missing_numers) == 1:
    print('number',','.join(missing_numers),'is missing...')
else:
    print('numbers',','.join(missing_numers),'are missing...and')

Enter the number 1 to n: (seperated by ,) 1 2 4 6 3 7 8
number 5 is missing...

## 5. With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
```
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35
```

In [151]:
def remvoe_all_duplicate():
    input_list_str = input('Enter list seperated by space ' ': ')
    input_list = input_list_str.split(' ')
    input_duplicate_removed = []
    for one_element in input_list:
        if one_element not in input_duplicate_removed:
            input_duplicate_removed.append(one_element)
            
    print(' '.join(input_duplicate_removed))

In [152]:
remvoe_all_duplicate()

Enter list seperated by space : 12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155

In [153]:
remvoe_all_duplicate()

Enter list seperated by space : 12 24 35 24
12 24 35